body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #51a8ce, #b6d2db, #9abfcf);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-container {
    width: 700px;
    text-align: center;
}

.top-bar {
    margin-bottom: 20px;
}

.timer {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid #00f5d4;
    color: #00f5d4;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #112d4e;
}

.question-box {
    background: #f8f9fa;
    border: 3px solid #00f5d4;
    padding: 20px;
    border-radius: 40px;
    color: #222;
    font-size: 20px;
    margin-bottom: 20px;
}

.question-box button {
    width: 45%;
    padding: 12px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid #00f5d4;
    background: #1b262c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.question-box button:hover {
    background: #cec545;
    color: #000;
}

.next-btn {
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background: #00f5d4;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.next-btn:disabled {
    background: gray;
    cursor: not-allowed;
}