 *{
        margin: 0;
        padding: 0;
    }
    body
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: white;
    }
    form
      {
        width: 600px;
      }
    #main_box
    {
       position: relative;
        height: 100%;
        width: 100%;
        border: 2px solid black;
        box-sizing: border-box;
		flex-direction: column;
    }
    #top_side_bulb
    {
        position: absolute;
        top: 1.2%;
        left: 2.02%;
    }
    #bottum_side_bulb
    {
        position: absolute;
        bottom: -49%;
        left: 2%;
    }
   #left_side_bulb {
    display: flex;
    flex-direction: column;     
    position: absolute;
    left: 0.3%;
    top: 4%;
}


#right_side_bulb
{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0.3%;
    top: 4.2%;

}
img
{
    width: 33px;
    height: 38px;
	 object-fit: contain;
}
#left_side_bulb img {
  transform: rotate(90deg);
}
#right_side_bulb img 
{
    transform: rotate(-90deg);
    
}
#top_side_bulb img 
{
    transform: rotate(-180deg);
}
#bottum_side_bulb
{
    transform: rotate(0deg);
}
/* #on_off_btn
{
	width: 80px;
	height: 40px;
	background-color: rgb(0, 157, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-right: 5px;
} */
/* #on_off_btn:hover
{
	box-shadow: 0 0 15px black;
} */
.INNER_BOX
{

	width: 40%;
	height: 87.5%;
	border: none;
	position: absolute;
	left: 2.5%;
	right: 8%;
	top: 6%;
	bottom: 10%;
	display: flex;
  justify-content: center;
  align-items: center;
}
.TO_CHANGE_IMEG
{
	width: 50%;
	height: 100%;
	border: none;
}
.box
		{
			width: 400px;
			height: 550px;
			border: none;
			box-shadow: 5px 10px 20px black;
			padding: 20px 30px;
      display: flex;
			justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      /* background-color: #fff; */
      background-color: #d1dadc;
		}
		#imeg1
		{
			overflow: hidden;
			object-fit: contain;
			width: 70%;
			height: 35vh;
		}
    .box h2 
    {
      color: yellowgreen;
      font-weight: 600;
      width: 320px;
      font-family: sans-serif;
      font-style: italic;
      
    }
    #TEXT_ACCORDING
    {
      margin-left: 60px;
    font-family: fangsong;
    font-size: 30px;
    }
    .IMEG_BOX
    {
      width: 300px;
      height: 300px;
      border: 2px solid black;
    }

    .FORM_PAGE
    {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 2.8%;
      /* border: 2px solid black; */
      width: 54.2vw;
      height: 97vh;

    }
    .MAIN_SING_PAGE
    {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44vw;
      height: 1000px;
      flex-direction: column;
      box-shadow: 0 10px 15px black;
      background-color: #d1dadc;
      position: absolute;
      top: 4.5%;
    }
  .MAIN_SING_PAGE input
{
  border: 2px solid white;
}


    
.MAIN_SING_PAGE h2
{
 font-family: sans-serif;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 1.8%;
    margin-left: 27%;
    margin-bottom: 10px;
    color: #854d4d;
}
.HOBBYS_SELECTOR
{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 4px;
}
span
{
  font-size: 20px;
  font-weight: 600;
  margin-left: 4%;
  color: red;
}
#CHEAK_ERROR
{
  display: flex;
  text-align: a;
}


#N_name,#F_name,#E_name,#Number_input,
#password_input,#date_input,#time_input
{
  width: 280px;
  height: 37px;
  border: 2.5px solid white;
  margin-top: 15px;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 600;
  color: black;
}

.GENDER_CHANGE,.HOBBYS_SELECTOR
{
  padding-left: 10px;
  display: flex;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 0px;
}

#ADD_INPUT
{
  margin-top: 10px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 3px;
  border: 2px solid white;
  
}


#ADD_INPUT
{
  width: 250px;
  border: 2px solid white;

}
#city_name
{
  width: 253px;
  height: 30px;
  border: 2px solid white;

}

.Captcha_cheak{
     width: 97%;
    padding: 15px;

    background: white;
    box-shadow: 0 5px 10px gray;
    margin-left: -8px;
    margin-top: -40px;
    position: relative;
    top: 10px;
}
.check_btn
	{
 box-shadow: 0 0 5px black;
    width: 71px;
    height: 22px;
    font-size: 21px;
    margin-left: -2px;
    position: relative;
    left: 8px;
    padding-bottom: 24px;
    padding-right: -1px;
	}
.check_btn:hover 
	{
	
    box-shadow: 0 0 15px black;
	}

#userInput
	{
		     box-shadow: 0 0 5px black;
    position: relative;
    top: 11px;
    width: 197px;
    height: 30px;
    padding-left: 15px;
    font-size: 21px;
    border: 1px solid black
	}
#userInput:hover
	{
		box-shadow: 0 0 18px black;
	
	}

#captchaText{
    width:70px;
    height:40px;
    box-shadow:0 0 14px black;
    padding-top:10px;
    padding-left:11px;
    padding-right:28px;
    line-height:25px;
    text-align:center;
    font-size:32px;
    font-style:italic;
    letter-spacing:3px;
    border:2px solid red;
    background:white;
    user-select:none;
    position:relative;
    top:-6px;
        transform: rotate(6deg);
}

#captchaText::after{
        content: "";
    position: absolute;
    top: 49%;
    left: 3px;
    width: 90%;
    height: 2px;
    background: black;
    transform: rotate(-6deg);
    opacity: 29.8;
}

.captcha-line{
    display:flex;
    align-items:center;
    gap:10px;
}


.refresh{
    font-size:22px;
    cursor:pointer;
}
 #SUMBTN
{
  width: 110px;
  height: 38px;
  border-radius: 6px;
  font-weight: 600;
  background-color: rgb(55, 84, 228);
  color: white;
  border: none;
  margin-left: 40%;
  /* display: none; */
 }

#SUMBTN:hover
{
  box-shadow: 0 0 15px black;
} 
#RADIO_ERROR
{
  margin-left: 85px;
}
#CHEAK_ERROR
{
  margin-right: 90px;
}
#FILE_ERROR
{
  margin-right: 10px;
}
#SUMBTN:disabled
{
    background-color: #b5b5b5;   /* grey */
    color: #666;
    cursor: not-allowed;
    opacity: 0.6;
}
#eyeIcon
  {
    position: relative;
    right: 10%;
    bottom: 0px;
  }
  #PASSWORD_STORGN
    {
      display: none;
      margin-top: 10px;
         width: 325px;
    height: 127px;
      border: 2px solid white;
      box-sizing: border-box;
      font-weight: 600;
      padding: 10px 10px;

    }
  #PASSWORD_STORGN p
    {
      margin-top: 1px;
    }